In [23]:
import pandas as pd
import numpy as np
import os.path
path = "C:/Users/Xin~/Courses/Winter2017/STA141b/Final Project"
filenames = os.listdir(path)
ft = pd.read_excel(path+"/CALIFORNIA.xls",header=5)
ft = ft.rename(columns={"County":"RegionName"}).ix[:56,:]

In [24]:
import re
ft["RegionName"] = [re.sub("[0-9]+","",x) for x in ft["RegionName"]]

In [25]:
ft["CrimeCases"] = ft.sum(axis=1,numeric_only =True)

In [26]:
ft = ft.ix[:,[1,13]]

In [27]:
ft

         RegionName  CrimeCases
0           Alameda      5185.0
1             Butte      3154.0
2      Contra Costa      4896.0
3         El Dorado      4570.0
4            Fresno      9689.0
5          Imperial      1709.0
6              Kern     24576.0
7             Kings      1189.0
8       Los Angeles     43163.0
9            Madera      3176.0
10            Marin      1686.0
11           Merced      4084.0
12         Monterey      2992.0
13             Napa       714.0
14           Orange      2967.0
15           Placer      3920.0
16        Riverside     17148.0
17       Sacramento     28593.0
18       San Benito       428.0
19   San Bernardino     12956.0
20        San Diego     11931.0
21      San Joaquin      8848.0
22  San Luis Obispo      3345.0
23        San Mateo      6267.0
24    Santa Barbara      3896.0
25      Santa Clara      3183.0
26       Santa Cruz      4475.0
27           Shasta      3333.0
28           Solano      1019.0
29           Sonoma      4231.0
30       Stanislaus      5048.0
31           Sutter      1336.0
32           Tulare      4916.0
33          Ventura      2051.0
34             Yolo       798.0
35             Yuba      2911.0
36           Alpine        88.0
37           Amador       781.0
38        Calaveras      1534.0
39           Colusa       398.0
40        Del Norte       975.0
41            Glenn       420.0
42         Humboldt      2062.0
43             Inyo       330.0
44             Lake      2087.0
45           Lassen       497.0
46         Mariposa       714.0
47        Mendocino      1560.0
48            Modoc       176.0
49             Mono       112.0
50           Nevada      1715.0
51           Plumas       706.0
52           Sierra        68.0
53         Siskiyou       394.0
54           Tehama       846.0
55          Trinity       442.0
56         Tuolumne      1870.0

In [13]:

import requests
import requests_cache
from matplotlib import pyplot as plt
import lxml.html
import pandas as pd
import re
import json 
import lxml.html as lx
import urllib
from urllib2 import Request, urlopen, HTTPError
from urlparse import urlunparse, urlparse, urljoin
import numpy
def fetch_page(url):
    response = requests.get(url)
    # Throw an error if status isn't 200 OK.
    response.raise_for_status()
    return response

url="https://www.zillow.com/browse/homes/ca/"
requests_cache.install_cache("cache")
page = fetch_page(url)
html = lx.fromstring(page.text)
county_html = html.xpath('//main/div/div/ul/li/a')
county = [i.text_content() for i in county_html]
county_name = pd.DataFrame({"RegionName":[" ".join(k) for k in [i.split(" ")[:-2] for i in county]]})

In [16]:
county_name.head()

       RegionName
0     Los Angeles
1          Orange
2       San Diego
3       Riverside
4  San Bernardino