In [1]:
import pandas as pd

In [2]:
unemployment = pd.read_csv("CAUR.csv")

In [3]:
newdate = pd.date_range('1976-01', '2017-01', freq='M')
newdate

DatetimeIndex(['1976-01-31', '1976-02-29', '1976-03-31', '1976-04-30',
               '1976-05-31', '1976-06-30', '1976-07-31', '1976-08-31',
               '1976-09-30', '1976-10-31',
               ...
               '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30',
               '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31',
               '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', length=492, freq='M')

In [4]:
unemployment.ix[:,"date"] = newdate

In [5]:
unemployment.head()

        date  Unemployment
0 1976-01-31           9.2
1 1976-02-29           9.1
2 1976-03-31           9.0
3 1976-04-30           9.0
4 1976-05-31           8.9

In [6]:
unemployment.dtypes

date            datetime64[ns]
Unemployment           float64
dtype: object

In [7]:
houseprice = pd.read_csv("CA_sold_t.csv")

In [8]:
houseprice.ix[:,"Median"] = houseprice.median(axis=1)
houseprice.head()

,date,Los Angeles,Orange,San Diego,Riverside,San Bernardino,Santa Clara,Alameda,Sacramento,Contra Costa,...,Plumas,Colusa,Mariposa,Inyo,Trinity,Mono,Modoc,Sierra,Alpine,Median
0,1996-04-30,162225.0,191525.0,158225.0,114550.0,100250.0,234325.0,196275.0,120425.0,192750.0,...,NaN,NaN,NaN,121470.5882,53000.0,77500.0000,NaN,NaN,NaN,120425.0
1,1996-05-31,162925.0,197550.0,158125.0,112500.0,101700.0,238575.0,196900.0,121675.0,203000.0,...,NaN,97230.7692,115000.0000,NaN,NaN,78970.5882,NaN,NaN,NaN,121675.0
2,1996-06-30,164500.0,197875.0,158925.0,115000.0,103450.0,238875.0,202225.0,122175.0,209050.0,...,NaN,NaN,NaN,119076.9231,51950.0,NaN,NaN,NaN,NaN,122175.0
3,1996-07-31,164550.0,198050.0,158700.0,113975.0,101850.0,241875.0,203700.0,122175.0,207150.0,...,NaN,NaN,94230.7692,112882.3529,NaN,81538.4615,NaN,NaN,NaN,119825.0
4,1996-08-31,163300.5,199300.0,157300.0,113225.0,101650.0,241200.0,202250.0,121075.0,202500.0,...,80000.0,NaN,NaN,NaN,82300.0,98470.5882,NaN,NaN,NaN,117125.0

In [9]:
newdate = pd.date_range('1996-04', '2016-07', freq='M')
houseprice.ix[:,"date"] = newdate

In [10]:
houseprice

,date,Los Angeles,Orange,San Diego,Riverside,San Bernardino,Santa Clara,Alameda,Sacramento,Contra Costa,...,Plumas,Colusa,Mariposa,Inyo,Trinity,Mono,Modoc,Sierra,Alpine,Median
0,1996-04-30,162225.00,191525.0,158225.0,114550.0,100250.0,234325.0,196275.0,120425.0,192750.0,...,NaN,NaN,NaN,121470.5882,53000.0000,77500.0000,NaN,NaN,NaN,120425.000
1,1996-05-31,162925.00,197550.0,158125.0,112500.0,101700.0,238575.0,196900.0,121675.0,203000.0,...,NaN,97230.7692,115000.0000,NaN,NaN,78970.5882,NaN,NaN,NaN,121675.000
2,1996-06-30,164500.00,197875.0,158925.0,115000.0,103450.0,238875.0,202225.0,122175.0,209050.0,...,NaN,NaN,NaN,119076.9231,51950.0000,NaN,NaN,NaN,NaN,122175.000
3,1996-07-31,164550.00,198050.0,158700.0,113975.0,101850.0,241875.0,203700.0,122175.0,207150.0,...,NaN,NaN,94230.7692,112882.3529,NaN,81538.4615,NaN,NaN,NaN,119825.000
4,1996-08-31,163300.50,199300.0,157300.0,113225.0,101650.0,241200.0,202250.0,121075.0,202500.0,...,80000.0000,NaN,NaN,NaN,82300.0000,98470.5882,NaN,NaN,NaN,117125.000
5,1996-09-30,163550.35,199625.0,157300.0,113675.0,102975.0,242075.0,198200.0,120300.0,202300.0,...,95882.3529,NaN,NaN,156250.0000,79750.0000,100800.0000,NaN,NaN,NaN,121550.000
6,1996-10-31,161875.15,196300.0,158700.0,114375.0,104450.0,240225.0,195925.0,120000.0,194400.0,...,NaN,NaN,81000.0000,135250.0000,71725.0000,114000.0000,NaN,NaN,NaN,118000.000
7,1996-11-30,160675.00,193900.0,157200.0,117325.0,102925.0,239675.0,195075.0,120750.0,192700.0,...,113153.8462,75000.0000,80411.7647,NaN,66025.0000,106250.0000,NaN,NaN,NaN,116425.000
8,1996-12-31,160000.50,195500.0,152250.0,117925.0,100600.0,239600.0,195500.0,119025.0,190300.0,...,NaN,86764.7059,86650.0000,116923.0769,64275.0000,NaN,NaN,NaN,NaN,118015.400
9,1997-01-31,160000.85,197250.0,155050.0,115375.0,97300.0,244425.0,192850.0,115675.0,188250.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126121.575
10,1997-02-28,161000.50,198500.0,156200.0,114500.0,97850.0,248150.0,193400.0,113600.0,184950.0,...,NaN,NaN,NaN,NaN,NaN,96000.0000,NaN,NaN,NaN,119600.000
11,1997-03-31,163200.65,200850.0,158600.0,114625.0,98575.0,249850.0,195000.0,118000.0,186950.0,...,NaN,NaN,NaN,NaN,NaN,83647.0588,NaN,NaN,NaN,119325.000
12,1997-04-30,165800.35,199900.0,159400.0,114000.0,97075.0,252750.0,202275.0,118500.0,201450.0,...,NaN,NaN,80000.0000,NaN,NaN,NaN,NaN,NaN,NaN,124650.000
13,1997-05-31,168375.65,202250.0,160750.0,115550.0,98350.0,254925.0,204950.0,120650.0,208250.0,...,NaN,NaN,74117.6471,112000.0000,NaN,125250.0000,NaN,NaN,NaN,122650.000
14,1997-06-30,169875.85,204450.0,161525.0,117325.0,99425.0,255425.0,207525.0,121425.0,212150.0,...,129500.0000,NaN,NaN,131411.7647,56500.0000,NaN,NaN,NaN,NaN,127939.725
15,1997-07-31,170925.50,206350.0,158425.0,118350.0,100075.0,257650.0,210400.0,122825.0,215575.0,...,NaN,NaN,79230.7692,135550.0000,52676.4706,NaN,NaN,NaN,NaN,128350.000
16,1997-08-31,170600.65,207100.0,160550.0,118250.0,100750.0,259250.0,209650.0,122525.0,213675.0,...,NaN,NaN,86705.8824,131850.0000,60475.0000,104153.8462,NaN,NaN,NaN,122525.000
17,1997-09-30,170225.35,208675.0,163150.0,119575.0,102025.0,260500.0,209575.0,120725.0,208850.0,...,NaN,NaN,NaN,142150.0000,59150.0000,93235.2941,NaN,NaN,NaN,122800.000
18,1997-10-31,170000.15,209125.0,163100.0,120050.0,103775.0,260350.0,211625.0,119200.0,206250.0,...,124500.0000,NaN,83846.1538,128350.0000,NaN,105800.0000,NaN,NaN,NaN,123087.500
19,1997-11-30,171000.00,212150.0,161275.0,121900.0,106950.0,263650.0,213900.0,121825.0,207850.0,...,NaN,NaN,NaN,NaN,NaN,113575.0000,NaN,NaN,NaN,122550.000
20,1997-12-31,174700.50,214100.0,161725.0,122225.0,106575.0,267450.0,212350.0,121025.0,207400.0,...,NaN,NaN,101230.7692,NaN,80769.2308,NaN,NaN,NaN,292000.0,125412.500
21,1998-01-31,175600.35,216250.0,166550.0,122225.0,105675.0,269550.0,210750.0,119900.0,204850.0,...,NaN,NaN,92294.1176,NaN,NaN,79450.0000,NaN,NaN,NaN,124812.500
22,1998-02-28,173950.15,216625.0,170800.0,123500.0,105000.0,270000.0,209000.0,119500.0,206775.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125475.000
23,1998-03-31,176950.00,219900.0,172200.0,125800.0,105250.0,276000.0,211800.0,121600.0,206375.0,...,NaN,NaN,80461.5385,115000.0000,NaN,NaN,NaN,NaN,NaN,125825.000
24,1998-04-30,181650.00,220525.0,173150.0,126625.0,105675.0,284200.0,218200.0,124475.0,207250.0,...,NaN,NaN,NaN,123823.5294,106000.0000,115000.0000,NaN,NaN,NaN,126625.000
25,1998-05-31,185400.00,221950.0,172950.0,130900.0,107925.0,296300.0,220475.0,127300.0,210550.0,...,95000.0000,125000.0000,95384.6154,122750.0000,105411.7647,133823.5294,NaN,NaN,NaN,126650.000
26,1998-06-30,188200.00,226050.0,175475.0,131225.0,109400.0,300750.0,223025.0,127625.0,215100.0,...,114277.6471,NaN,101764.7059,143500.0000,90150.0000,NaN,NaN,NaN,NaN,128687.500
27,1998-07-31,189550.00,228450.0,175675.0,129000.0,108000.0,296100.0,225750.0,127300.0,216400.0,...,111220.2000,NaN,101050.0000,152400.0000,NaN,135050.0000,NaN,NaN,NaN,129925.000
28,1998-08-31,187000.00,228650.0,175700.0,127775.0,103600.0,296650.0,222050.0,126250.0,215800.0,...,NaN,NaN,NaN,138000.0000,80500.0000,151000.0000,NaN,NaN,NaN,133000.000
29,1998-09-30,184400.00,226150.0,174175.0,127525.0,102400.0,296000.0,218650.0,127975.0,210150.0,...,131423.0769,84500.0000,88461.5385,127250.0000,73250.0000,129650.0000,NaN,NaN,NaN,129850.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,2014-01-31,441250.00,541750.0,428000.0,285975.0,234000.0,659500.0,510650.0,237500.0,421925.0,...,212785.0000,NaN,NaN,NaN,192000.0000,305000.0000,NaN,NaN,NaN,246900.000
214,2014-02-28,443750.00,544750.0,424625.0,288200.0,233300.0,668500.0,490250.0,242400.0,432600.0,...,142765.0000,NaN,194615.3846,NaN,NaN,319000.0000,NaN,NaN,NaN,252650.000
215,2014-03-31,454550.00,560250.0,432125.0,293600.0,235000.0,709200.0,516300.0,249400.0,444200.0,...,142050.0000,NaN,216764.7059,NaN,NaN,292500.0000,NaN,NaN,NaN,266625.000
216,2014-04-30,464950.00,571750.0,441450.0,294900.0,243500.0,746350.0,554100.0,254250.0,466950.0,...,161450.0000,NaN,214000.0000,NaN,NaN,289750.0000,NaN,NaN,NaN,257950.000
217,2014-05-31,474250.00,582500.0,450300.0,298550.0,250500.0,755500.0,580500.0,260050.0,482400.0,...,171150.0000,NaN,216900.0000,277500.0000,NaN,325000.0000,NaN,NaN,NaN,277500.000
218,2014-06-30,478500.00,580250.0,461450.0,300700.0,249400.0,761250.0,593500.0,261150.0,484250.0,...,182500.0000,NaN,163350.0000,295441.1765,160000.0000,341700.0000,NaN,NaN,NaN,261150.000
219,2014-07-31,483800.00,579750.0,462750.0,299975.0,250850.0,753875.0,598500.0,262950.0,491650.0,...,182850.0000,NaN,192750.0000,266925.0000,NaN,378550.0000,NaN,NaN,NaN,266775.000
220,2014-08-31,484350.00,581750.0,461500.0,299725.0,249950.0,745950.0,605250.0,260600.0,492000.0,...,222250.0000,NaN,185375.0000,261950.0000,NaN,334675.0000,NaN,NaN,NaN,261950.000
221,2014-09-30,482400.00,579250.0,459500.0,299350.0,248600.0,743250.0,583675.0,261925.0,471500.0,...,242500.0000,NaN,185175.0000,NaN,240100.0000,299575.0000,NaN,NaN,NaN,267837.500
222,2014-10-31,479200.00,581500.0,454150.0,297150.0,245300.0,741250.0,573825.0,261175.0,453550.0,...,238650.0000,NaN,182700.0000,NaN,NaN,320000.0000,NaN,NaN,NaN,268650.000
223,2014-11-30,476625.00,581000.0,446000.0,299600.0,251850.0,740400.0,572875.0,259600.0,440785.0,...,NaN,NaN,219650.0000,NaN,NaN,317500.0000,NaN,NaN,NaN,299600.000
224,2014-12-31,475375.00,578250.0,446350.0,300300.0,259275.0,732350.0,557825.0,256800.0,444015.0,...,190750.0000,180000.0000,228900.0000,NaN,160000.0000,294650.0000,NaN,NaN,NaN,259275.000
225,2015-01-31,472500.00,568250.0,448500.0,295450.0,256325.0,709750.0,531550.0,255950.0,427750.0,...,NaN,NaN,208850.0000,NaN,NaN,322550.0000,NaN,NaN,NaN,257237.500
226,2015-02-28,478250.00,577250.0,450500.0,299250.0,252100.0,711750.0,515200.0,262850.0,445000.0,...,171269.2308,NaN,177350.0000,NaN,186153.8462,301050.0000,NaN,NaN,NaN,262850.000
227,2015-03-31,490250.00,585500.0,459350.0,302425.0,255000.0,741050.0,550300.0,267400.0,457800.0,...,NaN,NaN,199550.0000,NaN,NaN,297500.0000,NaN,NaN,NaN,272825.000
228,2015-04-30,497750.00,595000.0,468950.0,309725.0,256000.0,778100.0,603000.0,269650.0,468450.0,...,239000.0000,180000.0000,217250.0000,NaN,151692.3077,347250.0000,NaN,NaN,NaN,262825.000
229,2015-05-31,502500.00,603500.0,473950.0,310850.0,255750.0,808200.0,637500.0,277350.0,482100.0,...,227525.0000,NaN,225850.0000,350000.0000,172529.4118,321750.0000,NaN,NaN,NaN,272925.000
230,2015-06-30,508000.00,613500.0,485000.0,313250.0,267000.0,822150.0,648500.0,281750.0,493900.0,...,242625.0000,NaN,227350.0000,NaN,174450.0000,292250.0000,NaN,NaN,NaN,281750.000
231,2015-07-31,512625.00,617750.0,487000.0,316750.0,270900.0,843025.0,655000.0,281800.0,493000.0,...,239300.0000,NaN,233250.0000,NaN,181400.0000,313900.0000,NaN,150000.0,NaN,276350.000
232,2015-08-31,514625.00,616975.0,485250.0,316750.0,273850.0,852475.0,652000.0,280450.0,495625.0,...,210785.0000,160000.0000,242800.0000,NaN,NaN,302850.0000,NaN,NaN,NaN,280750.000
233,2015-09-30,506000.00,613025.0,479125.0,313250.0,270750.0,848250.0,646950.0,282500.0,485625.0,...,212765.0000,NaN,210700.0000,250000.0000,170769.2308,335750.0000,NaN,NaN,NaN,282500.000
234,2015-10-31,501200.00,603250.0,471125.0,309750.0,271050.0,832250.0,643600.0,281750.0,471250.0,...,225250.0000,NaN,183250.0000,NaN,NaN,325375.0000,NaN,NaN,NaN,281875.000
235,2015-11-30,497550.00,607250.0,476500.0,308050.0,270400.0,828000.0,646500.0,278750.0,484750.0,...,223150.0000,NaN,194900.0000,NaN,227475.0000,313500.0000,NaN,NaN,NaN,278750.000
236,2015-12-31,503600.00,611000.0,481000.0,313325.0,272800.0,816000.0,647450.0,281100.0,481250.0,...,202825.0000,NaN,212000.0000,NaN,225500.0000,306125.0000,NaN,NaN,NaN,279287.500
237,2016-01-31,506400.00,609300.0,483300.0,312775.0,264250.0,789250.0,641700.0,279650.0,463100.0,...,209625.0000,NaN,207350.0000,NaN,NaN,341000.0000,NaN,NaN,NaN,279525.000
238,2016-02-29,503950.00,603700.0,475500.0,313850.0,268000.0,803850.0,636975.0,283200.0,463900.0,...,216650.0000,NaN,226250.0000,NaN,249692.3077,317750.0000,NaN,NaN,NaN,287500.000
239,2016-03-31,513550.00,612500.0,481250.0,319250.0,274500.0,842900.0,640075.0,287750.0,495500.0,...,238250.0000,NaN,204250.0000,268500.0000,NaN,306750.0000,NaN,NaN,NaN,287750.000
240,2016-04-30,523750.00,628225.0,496700.0,326000.0,274250.0,885750.0,663500.0,292575.0,522500.0,...,212250.0000,280000.0000,206250.0000,NaN,245407.6923,308250.0000,NaN,NaN,NaN,285925.000
241,2016-05-31,528750.00,637025.0,499500.0,324250.0,276500.0,907250.0,692000.0,299475.0,536000.0,...,205750.0000,241176.4706,216500.0000,NaN,228647.0588,308400.0000,NaN,NaN,NaN,287575.000
242,2016-06-30,534650.00,648150.0,499250.0,326500.0,278500.0,909250.0,696600.0,306000.0,539250.0,...,225150.0000,NaN,NaN,320000.0000,NaN,NaN,NaN,NaN,NaN,326500.000

In [11]:
UR_houseprice = pd.merge(houseprice, unemployment, on='date')
UR_houseprice = UR_houseprice.set_index('date')
UR_houseprice.head()

,Los Angeles,Orange,San Diego,Riverside,San Bernardino,Santa Clara,Alameda,Sacramento,Contra Costa,Fresno,...,Colusa,Mariposa,Inyo,Trinity,Mono,Modoc,Sierra,Alpine,Median,Unemployment
date,,,,,,,,,,,,,,,,,,,,,
1996-04-30,162225.0,191525.0,158225.0,114550.0,100250.0,234325.0,196275.0,120425.0,192750.0,94850.0,...,NaN,NaN,121470.5882,53000.0,77500.0000,NaN,NaN,NaN,120425.0,7.5
1996-05-31,162925.0,197550.0,158125.0,112500.0,101700.0,238575.0,196900.0,121675.0,203000.0,95475.0,...,97230.7692,115000.0000,NaN,NaN,78970.5882,NaN,NaN,NaN,121675.0,7.4
1996-06-30,164500.0,197875.0,158925.0,115000.0,103450.0,238875.0,202225.0,122175.0,209050.0,95475.0,...,NaN,NaN,119076.9231,51950.0,NaN,NaN,NaN,NaN,122175.0,7.3
1996-07-31,164550.0,198050.0,158700.0,113975.0,101850.0,241875.0,203700.0,122175.0,207150.0,96550.0,...,NaN,94230.7692,112882.3529,NaN,81538.4615,NaN,NaN,NaN,119825.0,7.1
1996-08-31,163300.5,199300.0,157300.0,113225.0,101650.0,241200.0,202250.0,121075.0,202500.0,96625.0,...,NaN,NaN,NaN,82300.0,98470.5882,NaN,NaN,NaN,117125.0,7.0

In [12]:
from plotly import __version__, tools
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.plotly as py
import plotly.graph_objs as go
init_notebook_mode(connected=True)

houseprice = go.Scatter(
    x= UR_houseprice.index,
    y= UR_houseprice.Median,
    name = "Median House Price",
    yaxis =  "y1"
)

unemployment = go.Scatter(
    x= UR_houseprice.index,
    y= UR_houseprice.Unemployment,
    name = "Unemployment Rate",
    yaxis =  "y2"
)

data = [houseprice,unemployment]
layout = go.Layout(
    title='Sold Price and Unemployment Rate from 1996 to 2016 in Califorina',
    yaxis=dict(
        title='Median House Price',
        zeroline = False
    ),
    yaxis2=dict(
        title='Unemployment Rate (%)',
        overlaying='y',
        side='right',
        zeroline = False
    ),
    legend = dict(
        x =  1.04761904762, 
        y =  0.966666666667, 
    )
)
fig = go.Figure(data=data, layout=layout)
iplot(fig)