In [2]:
import requests
import requests_cache
from matplotlib import pyplot as plt
import lxml.html
import pandas as pd
import re
import json 
import lxml.html as lx
import urllib
from urllib2 import Request, urlopen, HTTPError
from urlparse import urlunparse, urlparse, urljoin
import numpy

In [3]:
def fetch_page(url):
    response = requests.get(url)
    response.raise_for_status()
    return response

url="https://www.zillow.com/browse/homes/ca/"
requests_cache.install_cache("cache")
page = fetch_page(url)
html = lx.fromstring(page.text)
county_html = html.xpath('//main/div/div/ul/li/a')
county = [i.text_content() for i in county_html]
county_name = pd.DataFrame({"RegionName":[" ".join(k) for k in [i.split(" ")[:-2] for i in county]]})

In [4]:
#Import Housing Data
import os.path


def dataframe(i = 0):
    
    """Read datasets
    Please change the file path to fit to your computer
    Input:the name of dataset //dataname   
    """
    
    file_path = "/Users/HUI/Dropbox/16_UCDavis/17W_STA141B/05_Project/Housing_Data"
    file_name = ["County_MedianSoldPrice_AllHomes.csv","County_MedianListingPrice_AllHomes.csv","County_MedianListingPrice_1Bedroom.csv",
                 "County_MedianListingPrice_2Bedroom.csv","County_MedianListingPrice_3Bedroom.csv","County_MedianListingPrice_4Bedroom.csv",
                 "County_MedianListingPrice_5BedroomOrMore.csv","County_MedianListingPrice_CondoCoop.csv","County_MedianListingPrice_DuplexTriplex.csv",
                 "County_MedianListingPrice_Sfr.csv"]
    dataframe = pd.read_csv(os.path.join(file_path,file_name[i]),header=0)
    CA_dataframe = dataframe[dataframe["State"]== "CA"]
    CA_dataframe = CA_dataframe.reset_index(drop=True)
    return(CA_dataframe)

###name of eachdata
dataname=["sold","list","one","two","thre","four","five","cond","trip","sfr"]

###save all of dataset to CA dict.
CA = {i: dataframe(dataname.index(i)) for i in dataname}

In [5]:
#All Home Sold time-series data 1996-2016
CA["sold"] = pd.merge(pd.DataFrame(county_name),CA["sold"], how='left', on=['RegionName'])
CA_sold_t = CA["sold"].transpose()
CA_sold_t = CA_sold_t.rename(columns=lambda i: CA["sold"]["RegionName"][i])[7:]
date = pd.date_range('1996-04', '2016-07', freq='M')
CA_sold_t['date'] = date

#sold price time-series data
CA_sold_t = CA_sold_t.set_index('date')
CA_sold_t.head()

,Los Angeles,Orange,San Diego,Riverside,San Bernardino,Santa Clara,Alameda,Sacramento,Contra Costa,Fresno,...,Glenn,Plumas,Colusa,Mariposa,Inyo,Trinity,Mono,Modoc,Sierra,Alpine
date,,,,,,,,,,,,,,,,,,,,,
1996-04-30,162225,191525,158225,114550,100250,234325,196275,120425,192750,94850,...,67000,NaN,NaN,NaN,121471,53000,77500,NaN,NaN,NaN
1996-05-31,162925,197550,158125,112500,101700,238575,196900,121675,203000,95475,...,65823.5,NaN,97230.8,115000,NaN,NaN,78970.6,NaN,NaN,NaN
1996-06-30,164500,197875,158925,115000,103450,238875,202225,122175,209050,95475,...,NaN,NaN,NaN,NaN,119077,51950,NaN,NaN,NaN,NaN
1996-07-31,164550,198050,158700,113975,101850,241875,203700,122175,207150,96550,...,NaN,NaN,NaN,94230.8,112882,NaN,81538.5,NaN,NaN,NaN
1996-08-31,163300,199300,157300,113225,101650,241200,202250,121075,202500,96625,...,NaN,80000,NaN,NaN,NaN,82300,98470.6,NaN,NaN,NaN

In [77]:
#Different type of house average yr 2015/2016
def aver(i="one"):
    data = CA[i]
    CA_2015 = data.iloc[:,[k.__contains__("2015") for k in data.keys()]]
    CA_2016 = data.iloc[:,[k.__contains__("2016") for k in data.keys()]]
    CA_mean = pd.DataFrame({i+"_15":CA_2015.mean(1),i+"_16":CA_2016.mean(1)})
    CA_ave_name = pd.DataFrame({"RegionName":data["RegionName"]})
    CA_ave = pd.concat([CA_ave_name,CA_mean],axis=1)
    return CA_ave
CA_ave=[aver(i) for i in dataname]


#average price in yr 25/26 for different type of house/and all homes
diff_ave = reduce(lambda left,right: pd.merge(left,right,how="left",on='RegionName'), CA_ave)
diff_ave.head()

,RegionName,sold_15,sold_16,list_15,list_16,one_15,one_16,two_15,two_16,thre_15,...,four_15,four_16,five_15,five_16,cond_15,cond_16,trip_15,trip_16,sfr_15,sfr_16
0,Los Angeles,498737.500000,518508.333333,537666.666667,587328.666667,363468.333333,409424.500000,433116.583333,469545.750000,497107.916667,...,659808.333333,701394.000000,1.038750e+06,1.176233e+06,452570.833333,488478.750000,664705.500000,7.312750e+05,576524.500000,629662.333333
1,Orange,601020.833333,623150.000000,675932.083333,705890.000000,279250.000000,303945.833333,417687.500000,441220.833333,639658.333333,...,841700.000000,883811.583333,1.382648e+06,1.439552e+06,422483.333333,446204.166667,924108.583333,1.120979e+06,787609.750000,820343.541667
2,San Diego,472187.500000,489250.000000,538650.000000,575525.000000,276475.000000,319328.625000,360778.166667,396704.083333,494828.166667,...,684390.666667,716899.958333,1.093432e+06,1.184135e+06,376438.583333,410828.333333,678408.333333,7.657750e+05,609515.250000,641470.583333
3,Riverside,309068.750000,320437.500000,344257.500000,361732.458333,145399.875000,145940.750000,227945.750000,237962.041667,327233.333333,...,394170.750000,413642.833333,4.613150e+05,4.925966e+05,273656.666667,280891.666667,352866.583333,3.872125e+05,356255.250000,376051.708333
4,San Bernardino,264327.083333,272666.666667,271312.500000,291733.333333,NaN,NaN,172779.083333,185468.166667,255624.833333,...,367520.833333,385991.166667,4.659978e+05,4.931395e+05,259899.916667,271735.416667,295638.125000,3.068167e+05,272363.916667,293408.333333

In [106]:
file_path = "/Users/HUI/Dropbox/16_UCDavis/17W_STA141B/05_Project/"
def readdata(file_name):
             #,mergedata=diff_ave):

    dataframe = pd.read_csv(os.path.join(file_path,file_name),header=0)
    
    return(dataframe)

Unemp_frame = readdata("Unemploy_Rate.csv")
Unemp_frame["County"] = [" ".join(i.split(" ")[:-1]) for i in Unemp_frame["County"]]
Unemp_frame.head()

      County  Unemploy_Rate
0    Alameda            4.3
1     Alpine            5.9
2     Amador            6.3
3      Butte            6.9
4  Calaveras            6.2

In [182]:
Pop_frame = readdata("population.csv")
Pop_frame = Pop_frame[["County","Population"]]
Pop_frame.head()

      County  Population
0    Alameda     1638215
1     Alpine        1110
2     Amador       37001
3      Butte      225411
4  Calaveras       44828

In [183]:
Unem_diff=pd.merge(diff_ave,Unemp_frame,how="left",left_on = "RegionName",right_on = "County")
Unem_diff

,RegionName,sold_15,sold_16,list_15,list_16,one_15,one_16,two_15,two_16,thre_15,...,five_15,five_16,cond_15,cond_16,trip_15,trip_16,sfr_15,sfr_16,County,Unemploy_Rate
0,Los Angeles,4.987375e+05,5.185083e+05,5.376667e+05,5.873287e+05,363468.333333,409424.500000,4.331166e+05,4.695458e+05,4.971079e+05,...,1.038750e+06,1.176233e+06,4.525708e+05,4.884788e+05,6.647055e+05,7.312750e+05,5.765245e+05,6.296623e+05,Los Angeles,5.7
1,Orange,6.010208e+05,6.231500e+05,6.759321e+05,7.058900e+05,279250.000000,303945.833333,4.176875e+05,4.412208e+05,6.396583e+05,...,1.382648e+06,1.439552e+06,4.224833e+05,4.462042e+05,9.241086e+05,1.120979e+06,7.876098e+05,8.203435e+05,Orange,4.1
2,San Diego,4.721875e+05,4.892500e+05,5.386500e+05,5.755250e+05,276475.000000,319328.625000,3.607782e+05,3.967041e+05,4.948282e+05,...,1.093432e+06,1.184135e+06,3.764386e+05,4.108283e+05,6.784083e+05,7.657750e+05,6.095152e+05,6.414706e+05,San Diego,4.8
3,Riverside,3.090688e+05,3.204375e+05,3.442575e+05,3.617325e+05,145399.875000,145940.750000,2.279458e+05,2.379620e+05,3.272333e+05,...,4.613150e+05,4.925966e+05,2.736567e+05,2.808917e+05,3.528666e+05,3.872125e+05,3.562552e+05,3.760517e+05,Riverside,6.0
4,San Bernardino,2.643271e+05,2.726667e+05,2.713125e+05,2.917333e+05,NaN,NaN,1.727791e+05,1.854682e+05,2.556248e+05,...,4.659978e+05,4.931395e+05,2.598999e+05,2.717354e+05,2.956381e+05,3.068167e+05,2.723639e+05,2.934083e+05,San Bernardino,5.7
5,Santa Clara,7.992500e+05,8.563750e+05,8.225505e+05,8.882302e+05,441718.666667,467069.833333,5.505682e+05,6.242908e+05,7.652370e+05,...,1.442610e+06,1.634610e+06,5.652396e+05,6.345125e+05,8.744629e+05,9.809928e+05,9.023479e+05,1.009151e+06,Santa Clara,3.8
6,Alameda,6.147958e+05,6.618083e+05,6.279979e+05,6.877866e+05,350766.666667,398109.916667,4.469397e+05,5.095338e+05,6.270787e+05,...,1.004167e+06,1.128108e+06,4.470845e+05,5.161860e+05,6.300936e+05,7.422946e+05,6.898739e+05,7.657369e+05,Alameda,4.3
7,Sacramento,2.751083e+05,2.914417e+05,3.066311e+05,3.241530e+05,NaN,163918.250000,NaN,2.231291e+05,2.737263e+05,...,4.531112e+05,4.828124e+05,NaN,2.089354e+05,3.221755e+05,3.381313e+05,3.170995e+05,3.328917e+05,Sacramento,5.5
8,Contra Costa,4.738750e+05,5.033750e+05,5.213989e+05,5.617979e+05,247643.750000,282395.375000,3.626432e+05,4.009770e+05,4.661188e+05,...,8.284602e+05,8.415768e+05,3.400662e+05,3.771677e+05,5.052538e+05,5.399998e+05,5.507790e+05,5.933021e+05,Contra Costa,4.5
9,Fresno,2.213333e+05,2.234167e+05,2.538533e+05,2.573312e+05,NaN,NaN,1.326749e+05,1.414245e+05,2.247429e+05,...,3.988833e+05,3.908638e+05,NaN,NaN,2.303375e+05,2.762271e+05,2.585845e+05,2.611608e+05,Fresno,10.2
10,Ventura,5.022188e+05,5.242958e+05,5.899828e+05,6.127532e+05,285379.166667,296204.166667,3.690928e+05,3.940768e+05,5.139000e+05,...,1.052251e+06,1.054245e+06,3.862124e+05,3.985955e+05,6.549291e+05,6.331500e+05,6.695458e+05,6.942458e+05,Ventura,5.5
11,San Francisco,1.107921e+06,1.173833e+06,1.021083e+06,1.123579e+06,778854.166667,812199.000000,1.046000e+06,1.164208e+06,1.331000e+06,...,NaN,NaN,1.014271e+06,1.053917e+06,1.677917e+06,1.934833e+06,1.053750e+06,1.237875e+06,San Francisco,3.3
12,Kern,1.975542e+05,1.996833e+05,2.241667e+05,2.280142e+05,74382.416667,78366.666667,1.056542e+05,1.217290e+05,1.880833e+05,...,3.444567e+05,3.461616e+05,NaN,NaN,1.835333e+05,1.924460e+05,2.289083e+05,2.322667e+05,Kern,10.4
13,San Mateo,9.192500e+05,9.963750e+05,1.002279e+06,1.119322e+06,452680.833333,515988.583333,7.511732e+05,8.225230e+05,9.820146e+05,...,NaN,NaN,6.350812e+05,6.979397e+05,1.145516e+06,1.316437e+06,1.179606e+06,1.296648e+06,San Mateo,3.0
14,San Joaquin,2.769458e+05,2.906917e+05,3.073079e+05,3.323053e+05,NaN,NaN,1.515000e+05,1.812245e+05,2.756375e+05,...,4.021285e+05,4.464533e+05,NaN,NaN,2.443935e+05,2.821208e+05,3.132292e+05,3.383727e+05,San Joaquin,8.7
15,Stanislaus,2.388438e+05,2.537333e+05,2.629624e+05,2.810458e+05,NaN,NaN,1.533625e+05,1.713112e+05,2.433063e+05,...,3.576562e+05,3.907542e+05,1.633417e+05,1.690772e+05,2.549854e+05,2.722500e+05,2.655079e+05,2.848650e+05,Stanislaus,9.1
16,Sonoma,4.753792e+05,5.059917e+05,5.654938e+05,6.195208e+05,NaN,NaN,4.298667e+05,4.860604e+05,5.493505e+05,...,8.816375e+05,9.959792e+05,3.105162e+05,3.659917e+05,6.575792e+05,6.719750e+05,5.969354e+05,6.644808e+05,Sonoma,4.2
17,Tulare,1.823362e+05,1.866692e+05,2.153246e+05,2.346767e+05,NaN,NaN,1.283895e+05,1.318688e+05,1.974792e+05,...,3.387083e+05,3.338167e+05,1.354678e+05,1.368417e+05,NaN,NaN,2.186745e+05,2.390501e+05,Tulare,12.2
18,Solano,3.303750e+05,3.484167e+05,3.575536e+05,3.889083e+05,NaN,NaN,2.552862e+05,2.813283e+05,3.233875e+05,...,5.313729e+05,5.298577e+05,NaN,NaN,NaN,NaN,3.638150e+05,3.952392e+05,Solano,5.6
19,Monterey,4.575542e+05,4.892000e+05,6.720000e+05,7.221328e+05,NaN,NaN,5.761917e+05,6.202979e+05,6.324912e+05,...,NaN,NaN,4.940978e+05,5.238542e+05,NaN,NaN,7.016971e+05,7.687699e+05,Monterey,10.5
20,Santa Barbara,4.660104e+05,4.649542e+05,7.435055e+05,8.028292e+05,NaN,NaN,5.708638e+05,6.462037e+05,6.703062e+05,...,NaN,NaN,5.499125e+05,5.970000e+05,NaN,NaN,8.138458e+05,8.855125e+05,Santa Barbara,5.6
21,Placer,3.842875e+05,3.978333e+05,4.527408e+05,4.920983e+05,308916.625000,348337.500000,3.507625e+05,3.900500e+05,4.003704e+05,...,5.981358e+05,6.339782e+05,3.239432e+05,3.804833e+05,6.083562e+05,6.666125e+05,4.621096e+05,4.951158e+05,Placer,4.6
22,San Luis Obispo,4.804708e+05,5.010583e+05,5.766539e+05,6.048458e+05,369820.833333,297395.750000,4.140250e+05,4.381151e+05,5.488708e+05,...,1.034562e+06,1.099708e+06,4.117479e+05,4.333125e+05,7.276667e+05,7.905000e+05,6.040616e+05,6.498000e+05,San Luis Obispo,4.5
23,Santa Cruz,6.257829e+05,6.607250e+05,6.888250e+05,7.400312e+05,443450.000000,473708.291667,5.034117e+05,5.393707e+05,7.902271e+05,...,NaN,NaN,5.079811e+05,5.428042e+05,NaN,NaN,7.414458e+05,8.037458e+05,Santa Cruz,8.3
24,Merced,1.981896e+05,2.078333e+05,2.219999e+05,2.382167e+05,NaN,NaN,1.321854e+05,1.636333e+05,2.008517e+05,...,3.389577e+05,3.486583e+05,NaN,NaN,NaN,NaN,2.242583e+05,2.400833e+05,Merced,11.8
25,Marin,8.582417e+05,9.094333e+05,1.018950e+06,1.138625e+06,NaN,NaN,6.784375e+05,7.144562e+05,9.244036e+05,...,NaN,NaN,5.573458e+05,5.939583e+05,NaN,NaN,1.221333e+06,1.345875e+06,Marin,3.2
26,Butte,2.427458e+05,2.425250e+05,2.544908e+05,2.743742e+05,NaN,NaN,1.538750e+05,1.583895e+05,2.549908e+05,...,3.777231e+05,3.817458e+05,1.523250e+05,1.573082e+05,NaN,NaN,2.596625e+05,2.783521e+05,Butte,6.9
27,Yolo,3.459208e+05,3.644917e+05,3.872986e+05,4.173204e+05,NaN,NaN,2.671216e+05,2.930685e+05,3.504023e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,4.009354e+05,4.308583e+05,Yolo,6.5
28,El Dorado,3.808667e+05,3.993750e+05,4.396500e+05,4.655400e+05,NaN,NaN,2.711500e+05,3.031625e+05,4.009833e+05,...,7.020062e+05,7.608456e+05,NaN,NaN,NaN,NaN,4.474532e+05,4.695195e+05,El Dorado,5.3
29,Shasta,2.225438e+05,2.203750e+05,2.470125e+05,2.521407e+05,NaN,NaN,1.571167e+05,1.539125e+05,2.359292e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,2.517400e+05,2.533125e+05,Shasta,7.5
30,Imperial,1.842250e+05,1.923083e+05,1.927240e+05,2.130162e+05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.947658e+05,2.167265e+05,Imperial,21.5
31,Kings,1.844792e+05,1.966417e+05,1.974792e+05,2.156915e+05,NaN,NaN,1.050600e+05,1.137395e+05,1.822600e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,1.982729e+05,2.164242e+05,Kings,10.7
32,Madera,2.085083e+05,2.068917e+05,2.491104e+05,2.615292e+05,NaN,NaN,1.811542e+05,1.949375e+05,2.391458e+05,...,3.577665e+05,3.692792e+05,NaN,NaN,NaN,NaN,2.491750e+05,2.620417e+05,Madera,10.5
33,Napa,5.265542e+05,5.472333e+05,6.538833e+05,6.817292e+05,NaN,NaN,5.179662e+05,5.344562e+05,6.577041e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,6.861322e+05,7.125792e+05,Napa,5.1
34,Humboldt,2.436250e+05,2.588875e+05,2.763333e+05,2.951041e+05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.769022e+05,2.957000e+05,Humboldt,5.5
35,Nevada,3.640071e+05,3.754942e+05,4.331542e+05,4.779938e+05,NaN,NaN,3.092417e+05,3.432083e+05,4.307417e+05,...,6.867245e+05,7.010312e+05,NaN,NaN,NaN,NaN,4.478167e+05,4.889604e+05,Nevada,5.1
36,Sutter,2.263417e+05,2.259500e+05,2.481995e+05,2.597541e+05,NaN,NaN,NaN,NaN,2.256125e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,2.507540e+05,2.622511e+05,Sutter,11.2
37,Mendocino,3.055208e+05,3.340333e+05,4.336718e+05,4.696792e+05,NaN,NaN,NaN,NaN,6.263750e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,4.338384e+05,4.700417e+05,Mendocino,6.1
38,Yuba,2.206104e+05,2.375792e+05,2.421271e+05,2.562875e+05,NaN,NaN,NaN,NaN,2.286945e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,2.419687e+05,2.572374e+05,Yuba,9.2
39,Lake,1.935583e+05,1.988200e+05,2.425708e+05,2.493625e+05,NaN,NaN,1.826208e+05,1.934541e+05,2.481417e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,2.431667e+05,2.493625e+05,Lake,7.8
40,Tehama,1.742500e+05,1.869792e+05,2.108075e+05,2.179938e+05,NaN,NaN,1.515250e+05,1.565208e+05,2.238083e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,2.123262e+05,2.189708e+05,Tehama,7.7
41,Tuolumne,2.104542e+05,2.205958e+05,2.454583e+05,2.678458e+05,NaN,NaN,1.994708e+05,2.215624e+05,2.643250e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,2.460329e+05,2.700061e+05,Tuolumne,6.9
42,San Benito,4.496875e+05,4.662833e+05,5.124291e+05,5.445240e+05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.275158e+05,5.531850e+05,San Benito,7.5
43,Calaveras,2.448542e+05,2.482000e+05,2.996021e+05,3.249478e+05,NaN,NaN,2.373958e+05,2.478458e+05,2.991125e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,2.998083e+05,3.271598e+05,Calaveras,6.2
44,Siskiyou,1.447175e+05,1.442042e+05,2.079479e+05,2.318542e+05,NaN,NaN,NaN,NaN,2.316417e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,2.105375e+05,2.328229e+05,Siskiyou,10.6
45,Amador,2.439333e+05,2.635000e+05,2.830743e+05,3.327500e+05,NaN,NaN,NaN,NaN,2.899227e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,2.831205e+05,3.326310e+05,Amador,6.3
46,Lassen,1.316000e+05,1.457522e+05,NaN,NaN,NaN,NaN,NaN,NaN,1.836278e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lassen,7.4
47,Del Norte,1.587291e+05,2.002068e+05,2.273429e+05,2.224500e+05,NaN,NaN,NaN,NaN,2.365333e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,2.274000e+05,2.226167e+05,Del Norte,8.8
48,Glenn,1.869267e+05,1.769185e+05,2.254333e+05,2.277258e+05,NaN,NaN,NaN,NaN,2.228245e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,2.254542e+05,2.275217e+05,Glenn,8.9
49,Plumas,2.194494e+05,2.179458e+05,3.090042e+05,3.127458e+05,NaN,NaN,2.043125e+05,2.345979e+05,3.274500e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,3.159167e+05,3.217125e+05,Plumas,12.4
50,Colusa,1.700000e+05,2.605882e+05,2.441483e+05,2.541246e+05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.441483e+05,2.541246e+05,Colusa,19.4
51,Mariposa,2.110917e+05,2.121200e+05,2.607167e+05,2.778417e+05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.621333e+05,2.790542e+05,Mariposa,8.1
52,Inyo,3.000000e+05,2.942500e+05,3.266083e+05,3.244654e+05,NaN,NaN,NaN,NaN,2.776833e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,3.275583e+05,3.237542e+05,Inyo,5.8
53,Trinity,1.862462e+05,2.412490e+05,2.673583e+05,2.890667e+05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.674417e+05,2.884875e+05,Trinity,8.0
54,Mono,3.149875e+05,3.164300e+05,3.838583e+05,4.139083e+05,238612.500000,253612.500000,3.577417e+05,3.714792e+05,5.063250e+05,...,NaN,NaN,3.469917e+05,3.661083e+05,NaN,NaN,5.022000e+05,5.257708e+05,Mono,5.4
55,Modoc,NaN,NaN,1.416396e+05,1.453583e+05,NaN,NaN,NaN,NaN,1.511021e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,1.416083e+05,1.443542e+05,Modoc,9.4
56,Sierra,1.500000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sierra,9.0
57,Alpine,NaN,NaN,3.967992e+05,3.415415e+05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alpine,5.9

In [184]:
Unem_diff_pop=pd.merge(Unem_diff,Pop_frame,how="left",left_on = "RegionName",right_on = "County")
Unem_diff_pop.head()

,RegionName,sold_15,sold_16,list_15,list_16,one_15,one_16,two_15,two_16,thre_15,...,cond_15,cond_16,trip_15,trip_16,sfr_15,sfr_16,County_x,Unemploy_Rate,County_y,Population
0,Los Angeles,498737.500000,518508.333333,537666.666667,587328.666667,363468.333333,409424.500000,433116.583333,469545.750000,497107.916667,...,452570.833333,488478.750000,664705.500000,7.312750e+05,576524.500000,629662.333333,Los Angeles,5.7,Los Angeles,10170292
1,Orange,601020.833333,623150.000000,675932.083333,705890.000000,279250.000000,303945.833333,417687.500000,441220.833333,639658.333333,...,422483.333333,446204.166667,924108.583333,1.120979e+06,787609.750000,820343.541667,Orange,4.1,Orange,3169776
2,San Diego,472187.500000,489250.000000,538650.000000,575525.000000,276475.000000,319328.625000,360778.166667,396704.083333,494828.166667,...,376438.583333,410828.333333,678408.333333,7.657750e+05,609515.250000,641470.583333,San Diego,4.8,San Diego,3299521
3,Riverside,309068.750000,320437.500000,344257.500000,361732.458333,145399.875000,145940.750000,227945.750000,237962.041667,327233.333333,...,273656.666667,280891.666667,352866.583333,3.872125e+05,356255.250000,376051.708333,Riverside,6.0,Riverside,2361026
4,San Bernardino,264327.083333,272666.666667,271312.500000,291733.333333,NaN,NaN,172779.083333,185468.166667,255624.833333,...,259899.916667,271735.416667,295638.125000,3.068167e+05,272363.916667,293408.333333,San Bernardino,5.7,San Bernardino,2128133

In [189]:
crim = readdata("crime.csv")
Unme_diff_pop_crim = pd.merge(Unem_diff_pop,crim.iloc[:,1:],how="left", on = "RegionName")
Unme_diff_pop_crim.head()

,RegionName,sold_15,sold_16,list_15,list_16,one_15,one_16,two_15,two_16,thre_15,...,cond_16,trip_15,trip_16,sfr_15,sfr_16,County_x,Unemploy_Rate,County_y,Population,CrimeCases
0,Los Angeles,498737.500000,518508.333333,537666.666667,587328.666667,363468.333333,409424.500000,433116.583333,469545.750000,497107.916667,...,488478.750000,664705.500000,7.312750e+05,576524.500000,629662.333333,Los Angeles,5.7,Los Angeles,10170292,43163.0
1,Orange,601020.833333,623150.000000,675932.083333,705890.000000,279250.000000,303945.833333,417687.500000,441220.833333,639658.333333,...,446204.166667,924108.583333,1.120979e+06,787609.750000,820343.541667,Orange,4.1,Orange,3169776,2967.0
2,San Diego,472187.500000,489250.000000,538650.000000,575525.000000,276475.000000,319328.625000,360778.166667,396704.083333,494828.166667,...,410828.333333,678408.333333,7.657750e+05,609515.250000,641470.583333,San Diego,4.8,San Diego,3299521,11931.0
3,Riverside,309068.750000,320437.500000,344257.500000,361732.458333,145399.875000,145940.750000,227945.750000,237962.041667,327233.333333,...,280891.666667,352866.583333,3.872125e+05,356255.250000,376051.708333,Riverside,6.0,Riverside,2361026,17148.0
4,San Bernardino,264327.083333,272666.666667,271312.500000,291733.333333,NaN,NaN,172779.083333,185468.166667,255624.833333,...,271735.416667,295638.125000,3.068167e+05,272363.916667,293408.333333,San Bernardino,5.7,San Bernardino,2128133,12956.0

In [190]:
Unme_diff_pop_crim.keys()

Index([u'RegionName', u'sold_15', u'sold_16', u'list_15', u'list_16',
       u'one_15', u'one_16', u'two_15', u'two_16', u'thre_15', u'thre_16',
       u'four_15', u'four_16', u'five_15', u'five_16', u'cond_15', u'cond_16',
       u'trip_15', u'trip_16', u'sfr_15', u'sfr_16', u'County_x',
       u'Unemploy_Rate', u'County_y', u'Population', u'CrimeCases'],
      dtype='object')

In [191]:
Unme_diff_pop_crim.drop(["County_x",'County_y'],axis=1, inplace=True)

In [192]:
Unme_diff_pop_crim.keys()

Index([u'RegionName', u'sold_15', u'sold_16', u'list_15', u'list_16',
       u'one_15', u'one_16', u'two_15', u'two_16', u'thre_15', u'thre_16',
       u'four_15', u'four_16', u'five_15', u'five_16', u'cond_15', u'cond_16',
       u'trip_15', u'trip_16', u'sfr_15', u'sfr_16', u'Unemploy_Rate',
       u'Population', u'CrimeCases'],
      dtype='object')

In [194]:
rank = readdata("county_all_rank.csv")
all_rank = pd.merge(Unme_diff_pop_crim,rank,how="left", left_on = "RegionName",right_on = "County")
all_rank.drop(['County'],axis=1, inplace=True)
all_rank.keys()

Index([u'RegionName', u'sold_15', u'sold_16', u'list_15', u'list_16',
       u'one_15', u'one_16', u'two_15', u'two_16', u'thre_15', u'thre_16',
       u'four_15', u'four_16', u'five_15', u'five_16', u'cond_15', u'cond_16',
       u'trip_15', u'trip_16', u'sfr_15', u'sfr_16', u'Unemploy_Rate',
       u'Population', u'CrimeCases', u'Score2016', u'Score2015', u'Rank2016',
       u'Highest Rank City 2016', u'Zip2016', u'Rank2015',
       u'Highest Rank City 2015', u'Zip2015', u'Number Students',
       u'Number of Ranked Elementary Schools',
       u'Number of Ranked Middle Schools', u'Number of Ranked High Schools'],
      dtype='object')

In [206]:
income = readdata("income.csv")
#income = income.drop(income.iloc[:,:3])
all_income = pd.merge(all_rank,income.iloc[:,3:],how="left", left_on = "RegionName",right_on = "county")
all_income.drop(['county'],axis=1, inplace=True)

Index([u'RegionName', u'sold_15', u'sold_16', u'list_15', u'list_16',
       u'one_15', u'one_16', u'two_15', u'two_16', u'thre_15', u'thre_16',
       u'four_15', u'four_16', u'five_15', u'five_16', u'cond_15', u'cond_16',
       u'trip_15', u'trip_16', u'sfr_15', u'sfr_16', u'Unemploy_Rate',
       u'Population', u'CrimeCases', u'Score2016', u'Score2015', u'Rank2016',
       u'Highest Rank City 2016', u'Zip2016', u'Rank2015',
       u'Highest Rank City 2015', u'Zip2015', u'Number Students',
       u'Number of Ranked Elementary Schools',
       u'Number of Ranked Middle Schools', u'Number of Ranked High Schools',
       u'total_income'],
      dtype='object')

In [136]:
CA_sold_t.to_csv("/Users/HUI/Dropbox/16_UCDavis/17W_STA141B/05_Project/CA_sold_t.csv")
diff_ave.to_csv("/Users/HUI/Dropbox/16_UCDavis/17W_STA141B/05_Project/diff_ave.csv")

In [207]:
all_income.to_csv("/Users/HUI/Dropbox/16_UCDavis/17W_STA141B/05_Project/all_data.csv")